#caso.modal.fade( tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true" )
	.modal-dialog
		.modal-content
			.close-modal( data-dismiss = "modal" )
				.lr
					.rl
			.container
				%h2.text-center#caso-title
				#modal-casos.carousel.slide( data-ride = 'carousel' data-interval = "false" )
					%ol.carousel-indicators
					.carousel-inner.caso-info
					%a.left.carousel-control( href = "#modal-casos" role = "button" data-slide = "prev" )
						%span
							%i.fa.fa-chevron-left
					%a.right.carousel-control( href = "#modal-casos" role = "button" data-slide = "next" )
						%span
							%i.fa.fa-chevron-right