#caso.modal.fade( tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true" )
	.modal-dialog
		.modal-content
			.close-modal( data-dismiss = "modal" )
				.lr
					.rl
			.container
				#modal-casos.carousel.slide( data-ride = 'carousel' data-interval = "false" )
					%ol.carousel-indicators
						%li.active( data-target = '#modal-casos' data-slide-to = '0' )
						%li( data-target = '#modal-casos' data-slide-to = '1' )
						%li( data-target = '#modal-casos' data-slide-to = '2' )
					.carousel-inner.caso-info
						.item.active
							.row
								.col-xs-12.col-sm-6
									%img.img-responsive( src = "http://farm6.static.flickr.com/5330/9916428396_6ab3e5e0fa.jpg" )
								.col-xs-12.col-sm-6
									%h2
										Caso
									%p
										Texto del caso
						.item
							.carousel-caption
								%h1.text-center Text 2
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.item
							.carousel-caption
								%h1.text-center Text 
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.