#caso.modal.fade( tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true" )
	.modal-dialog
		.modal-content
			.close-modal( data-dismiss = "modal" )
				.lr
					.rl
			.container
				%h2.text-center#caso-title
				#modal-casos.carousel.slide( data-ride = 'carousel' data-interval = "false" )
					%ol.carousel-indicators
					.carousel-inner.caso-info